.gridWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}

.gameGrid {
  display: grid;
  border: 2px solid black;
  margin: 2rem auto;
  gap: 0.1rem;
  padding: 1rem;
  border-radius: 0.5rem;
  max-width: max-content;
  overflow-y: auto;
}

.gameRow {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 0.1rem;
  margin-bottom: 0.1rem;
}

.gameRow:last-child {
  margin-bottom: 0;
}