.modalWrapper {
  position: fixed;
  z-index: 9999;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0,0,0, 0.5);
  padding: 0 3rem;
  display: flex;
  align-items: center;
  user-select: none;
}

.modalContent {
  align-items: center;
  justify-content: center;
  margin: 4rem auto;
  max-height: 80%;
  overflow: auto;
  background-color: white;
  padding: 2rem;
  max-width: 100%;
  text-align: center;
}