.button {
  min-width: 200px;
  border: 2px solid #ff001e;
  cursor: pointer;
  min-height: 3rem;
  font-size: 1.5rem;
  border-radius: 1rem;
  background-color: transparent;
  margin: 1rem auto;
  display: block;
}

.button:disabled {
  border: 2px solid #d0bcff;
}

.button:hover {
  background-color: #ff001e;
  color: white;
}